<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
        <style>body {padding-top: 55px;}</style>
        <title>業務管理システム</title>
    </head>
    <body>
        <nav class='navbar navbar-expand-sm navbar-dark bg-dark fixed-top'>
            <a class='navbar-brand' href='{% url "lunchmap:index" %}'>業務管理システム</a>
            <ul class='navbar-nav'>
                {% if user.is_authenticated %}
                    <li class='nav-item'>
                        <span class="navbar-text">{{ user }} - </span>
                    </li>
                    <li class='nav-item'>
                        <a href='{% url "logout" %}' class='logout nav-link'>Logout</a>
                    </li>
                {% else %}
                    <li class='nav-item'>
                        <a href='{% url "login" %}' class='login nav-link'>Login</a>
                    </li>
                    <li class="nav-item">
                        <a href='{% url "accounts:signup" %}' class='signup nav-link'> Sign up </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class='container-fluid'>
            <div class="row">
                <div class="col-md-2 d-none d-md-block sidebar">
                    <ul class="list-group" style="padding-top: 20px;">
                        <li class="list-group-item">
                            <a href="/bbs/">連絡掲示板機能</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/lunchmap/">地図登録機能</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/calculate/">ファイル管理機能</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/accounts/signup/">ユーザー登録機能</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/accounts/login/">ログイン機能</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/admin/">管理機能</a>
                        </li>
                    </ul>
            </div>
                <div class="col-md-10" style="padding-top: 20px;">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
       </div>
    </body>
</html>