{% extends 'layout.html' %}

{% block content %}

    <h2>ダウンロードファイル一覧</h2>
    <br>
    <a href="{% url 'calculate:new_file' %}" class='btn btn-outline-primary'>ファイルのアップロード</a>
    <br>
    <br>

    <table  class='table table-striped table-hover'>
        {% for file in file_obj %}
        <tr>
            <td>
                <a href="{{ file.upload.url }}"  download="{{ file.file_name }}">{{ file.file_name }}</a>
            </td>
            <td>
                    {{ file.upload.size }}B
            </td>
        </tr>
        {% endfor %}
    </table>


        
{% endblock %}